<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.test.mapper.LoginMapper" >
	<resultMap id="BaseResultMap" type="cn.test.entity.Login" >
	    <result column="username" property="username" jdbcType="VARCHAR" />
	    <result column="password" property="password" jdbcType="VARCHAR" />
	    <result column="email" property="email" jdbcType="VARCHAR" />
	</resultMap>
  <sql id="Base_Column_List" >
    username, email, password
  </sql>

  <insert id="insert" parameterType="cn.test.entity.Login" >
    insert into m_login (username, password, email)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email, jdbcType=VARCHAR})
  </insert>
  
  <select id="checkByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List" />
  	from m_login
  	where username = #{username, jdbcType=VARCHAR}
  </select>
  
</mapper>